html {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12pt;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(180deg, #0e1423 0%, #080b10 100%) repeat;
}

.al-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-header {
    font-size: 42pt;
    color: #FFF;
    text-shadow: 6px 6px 24px #000000;
}

a {
    color: #FFFFFF;
}

.box {
    width: 100%;
    white-space: nowrap
}

.box div {
    display: inline-block;
}

.round{
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid #a10000; /* Параметры рамки */
    box-shadow: 0 0 7px #910000; /* Параметры тени */
}