html {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12pt;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(90deg, #060606 0%, #a10000 33%, #c4c4c4 67%, #060606 100%);
}

.al-top {
    position: absolute;
    text-align: center;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
}

.al-lt {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);
}

.al-rt {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);
}

.al-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.al-bot {
    position: absolute;
    text-align: center;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.al-bot-rt {
    position: absolute;
    text-align: right;
    bottom: 1%;
    right: 1%;
    transform: translate(0, -50%);
}

.al-bot-lt {
    position: absolute;
    text-align: left;
    bottom: 1%;
    left: 1%;
    transform: translate(0, -50%);
}

.imgCentral {
    width: 300px;
    height: 300px;
}

.center-header {
    font-size: 56pt;
    color: #FFF;
    text-shadow: 6px 6px 24px #000000;
}

.inline {
    display:inline-block;
}

.horizontal-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vertical-buttons{
    display: flex;
    flex-direction: column;
}

.imgButton {
    padding: 12px;
    background: #c4c4c4;
    width: 96px;
    height: 96px;
    border-radius: 100%; /* Радиус скругления */
    border: 3px solid #0e1423; /* Параметры рамки */
}

.imgButton:hover {
    background: #e5e5e5;
    border: 2px solid #000000; /* Параметры рамки */
    box-shadow: 0 0 20px #000000; /* Параметры тени */
}

.imgButton:active {
    background: #ffffff;
    border: 2px solid #26395e; /* Параметры рамки */
    box-shadow: 0 0 40px #000000; /* Параметры тени */
}

a {
    color: #FFFFFF;
}

.box {
    width: 100%;
    white-space: nowrap
}

.box div {
    display: inline-block;
}

.round{
    border-radius: 100%; /* Радиус скругления */
    border: 3px solid #a10000; /* Параметры рамки */
    box-shadow: 0 0 7px #910000; /* Параметры тени */
}

@media (max-width: 1100px) or (max-height: 1100px) {
    .menu-top {
        margin-top: 80px;
    }
    .menu-top div img {
        width: 112px;
        height: 112px;
    }
    .center-header {
        font-size: 56pt;
    }
    .imgCentral {
        width: 300px;
        height: 300px;
    }
    .imgButtonCentral a img {
        width: 96px;
        height: 96px;
    }
}

@media (max-width: 992px) or (max-height: 992px) {
    .center-header {
        font-size: 56pt;
    }
    .imgCentral {
        width: 300px;
        height: 300px;
    }
    .imgButtonCentral a img {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 600px) or (max-height: 600px) {
    .menu-top {
        margin-top: 60px;
    }
    .center-header {
        font-size: 38pt;
    }
    .imgCentral {
        width: 200px;
        height: 200px;
    }
    .imgButtonCentral a img {
        width: 48px;
        height: 48px;
    }
}